.wrapper {
  width: 85%;
  margin: 0 auto;
}
*{
  box-sizing: border-box;
}

.fc-header-title h2 {
  font-size: 2em;
}

.fc-day-header {
font-size: 1.5em;
line-height: 1.65em;
background-color: #222;
color: #fff;
}

.fc-day {

  &:hover{
    border: 1px solid #ccc;
    padding:1px;
    background-color: rgba(203,180,130,0.15);
  }
}

.fc-first > div {

  &:hover {
  padding:0px;
  margin: -1.5px;
  }
}